<IfModule mod_rewrite.c>
    RewriteEngine on
	RewriteRule ^favicon\.ico$ http://bpong.com/favicon.ico [L]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
